<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>http://thingsdevice.limaicloud.com</string>
	<key>contacts</key>
	<string>http://thingscontacts.limaicloud.com</string>
	<key>notice</key>
	<string>http://cms.limaicloud.com</string>
	<key>boards</key>
	<string>http://qydb.fingeroffice.cn</string>
</dict>
</plist>
